<h1><%= @dishes.name %>'s Page <h1><hr>
<p>Description: <%= @dishes.description %></p>
<p>Chef: <%= @dishes.chef.name %></p>
<section class='ingredients'>
  <h2>Ingredients</h2>
  <ul>
    <% @dishes.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
      <li><%= ingredient.calories %></li>
    <% end %>
  </ul>
</section>

<h4>"Add an Ingredient to this Dish"</h4>
<%= form_with(url: add_ingredient_to_dish_path(@dishes), method: :post, local: true) do |f| %>
  <%= f.label :ingredient_id %>
  <%= f.text_field :ingredient_id, name: 'dish[ingredient_id]' %>
  <%= f.submit "Submit" %>
<% end %>

