<h1><%= @dish.name %></h1>
<h3><%= @dish.description %></h3>
<h4>Chef: <%= @dish.chef.name %></h4>
<p>Calories: <%= @dish.total_calories %><p>

<% @dish.ingredients.each do |ingredient| %>
  <%= ingredient.name %><br>
<% end %>

<%= form_with model: @dish, local: true do |form| %>
  <%= form.label :add_ingredient %>
  <%= form.text_field :add_ingredient %>
  <%= form.submit "Add Ingredient" %>
<% end %>