<h1><%= @dish.name %></h1>
<h2><%= @dish.description %></h2>
<p>Total Calories: <%= @dish.total_calorie_count %></p>
<ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient.name %>
  <% end %>
</ul>
<p>Chef: <%= @dish.chef.name %></p>
<h2>Add Ingredient:</h2>
<%= form_with(url: "/ingredient_dishes", method: :post, local: true) do |form| %>
  <%= form.label "Ingredient id" %>
  <%= form.text_field :ingredient_id, require: true %>
  <%= form.hidden_field :dish_id , value: @dish.id %>
  <%= form.submit "Submit" %>
<% end %>