<div>
  Title: <%= @dish.name %>
  Desc: <%= @dish.description%>
  Chef: <%= @dish.chef.name%>
</div>

<div>
  <% @dish.ingredients.each do |ingredient| %>
    <%= ingredient.name %> <%= ingredient.calories%>
  <% end %>
  Total: <%= @dish.total_calories %> calories
</div>

