<div id="dish_info">
  <h1><%= @dish.name %></h1>
  <b>Description:</b>
  <p><%= @dish.description %></p>
</div>

<div id="dish_ingredients">
  <h2>Dish Ingredients</h2>
  <ul>
  <% @dish.ingredients.each do |i|%>
    <li><%= i.name %></li>
  <% end %>
  </ul>
</div>

<div id="dish_nutrition">
  <p><b>Total Calories: </b><%= @dish.calories %></p>
</div>

<div id="dish_chef">
  <h3>Chef</h3>
  <p><%= @dish.chef.name %></p>
</div>

<div id="new_dish_ingredient">
  <h2>Add Ingredient to Dish</h2>
  <p>Enter an ingredient ID to add that ingredient to the dish</p>

  <%= form_with model: DishIngredient.new, local: true do |f| %>
    <%= f.text_field :ingredient_id %>
    <%= f.hidden_field :dish_id, value: @dish.id %>
    <%= f.submit "Add Ingredient" %>
  <% end %>
</div>
