<%= @dish.chef.name %>
<h1><%= @dish.name %></h1>
<br>
<p><%= @dish.description %></p>
<br>
<p><%= @dish.total_calories %></p>

<% @dish.ingredients.each do |ingredient| %>
    <%= ingredient.name %>
    <br>
    <%= ingredient.calories %>
<% end %>

<section id="add_ingredient">
<%= form_with url: chef_dish_ingredients_path do |form| %>
    <%= form.label :ingredient_id %>
    <%= form.hidden_field :dish_id, value: @dish.id %>
    <%= form.text_field :ingredient_id %>
    <%= form.submit "Submit" %>
<% end %>
</section>