<h1>Dish Info</h1>
<h2> Dish Name: <%= @dish.name %></h2>
<h2> Dish Description: <%= @dish.description %></h2>

<h3>Ingredients</h3>

  <% @dish.ingredients.each do |ingredient| %>
    <li>
        <%= ingredient.name %>
    </li>
  <% end %>

  <p> Total Calorie Count: <%= @dish.total_calorie_count %></p>

  <p> Chef: <%= @dish.chef.name %></p>

