<%=  @dish.name %>
<%=  @dish.description %>
<%= @dish.total_calorie %>
<% @dish.ingredients.each do |ingredient| %>
  <%= ingredient.name %>
<% end %>
<%= @dish.chef.name %>

<%= form_with url: dish_ingredients_path, method: :post do |f| %>
  <div>
    <%= f.label :ingredient_id %>
    <%= f.text_field :ingredient_id %>
    <%= f.hidden_field :dish_id, value: @dish.id %>
    <%= f.submit "Submit" %>
  </div>
  <% end %>