<h1> Dish Page </h1>
<div id="Facts">
<h2>Name: <%= @dish.name %></h2>
<h2>Description: <%= @dish.description %></h2>
<h2>Total calories: <%= @dish.total_calories %></h2>
<h2>Chefs: <%=  %></h2>
</div>

<div id="Ingredients">
<h3> Ingredients </h3>
<% @dish.ingredients.each do |ingredient| %>
<div id="<%= ingredient.name %>">
  <p>Ingredient: <%= ingredient.name %></p>
  <p>Calories: <%= ingredient.calories %></p>
  <p>------------------------------</p>
</div>
<% end %>
</div>

