<h1> Dish Page </h1>
<div id="Facts">
<h2>Name: <%= @dish.name %></h2>
<h2>Description: <%= @dish.description %></h2>
<h2>Total calories: <%= @dish.total_calories %></h2>
<h2>Chef: <%= @dish.chef.name %></h2>
</div>

<div id="Ingredients">
<h3> Ingredients </h3>
<% @dish.ingredients.each do |ingredient| %>
<div id="<%= ingredient.name %>">
  <p><%= ingredient.name %></p>
  <p>Calories: <%= ingredient.calories %></p>
  <p>------------------------------</p>
</div>
<% end %>
</div>

<div id="Add_ingredient">
<%= form_with url: dish_ingredients_path do |form| %>
    <p> <%= form.label :ingredient_id, "Please enter a valid ingredient ID:" %> </p>
    <p> <%= form.text_area :ingredient_id %> </p>
    <p> <%= form.submit "Submit" %> </p>
<% end %>
</div>