<h1>Dish — <%= @dish.name %></h1>

<h2>Description:</h2>
<p><%= @dish.description %></p>

<h2>Ingredients:</h2>
<% @dish.ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
  
<% end %>

<h2>Calorie Total:</h2>
<p><%= @dish.total_calorie_count %></p>

<h2>Chef:</h2>
<p><%= @dish.chef.name %></p>

<h2>Add ingredient</h2>
<section id="add_ingredient">
  <%= form_with model: @dish, class: "dish_ingredient_form" do |f| %>
    <%= f.label :add_ingredient_id %>
    <%= f.number_field :add_ingredient_id %>
    <%= f.submit %>
  <% end %>
</section>

