<h1><%= @dish.name %></h1>
<p><%= @dish.description %></p>
<% @dish.dish_ingredients.each do |dish_ingredient|%>
  <p>Made with <%= dish_ingredient.ingredient.name %></br><%= dish_ingredient.ingredient.calories %> calories</p>
<%end%>
<p>Made by <%= @dish.chef.name %>

<%= form_with url: "/dishes/#{@dish.id}", method: :patch, local: true do |form|%>
  <%= form.label "Add an ingredient" %>
  <%= form.text_field :ingredient_id %>
  <%= form.submit "Add Ingredient" %>
<%end%>

